Score:
= @score
%br

- if @game_over
  Game Over
- else
  Frame:
  = @frame_number
  %br

  = form_for :ball, url: {action: "create"} do |f|
    - @ball.errors.full_messages.each do |msg|
      = msg
      %br

    Pins thrown by the next ball:
    = f.text_field :pins
    = f.submit "See score"
